venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Data
data_exp (1)/
data/
outputs/
models/

# Large files
*.wav
*.mp3
*.zip
*.rar
*.tar.gz

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
